<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>@ViewData["Title"] -- DomainScanner</title>

    <link rel="stylesheet" asp-append-version="true" href="~/styles/main.css"/>
</head>
<body>

<header>
    <h1>Domain scanner!</h1>
    <nav>
        <a asp-controller="Report" asp-action="List">Home</a>
    </nav>
</header>
<main>
    @RenderBody()
</main>
<footer>
    <p>Copyright (C) 2024 - <a href="https://costas.dev">Ariel Costas Guerrero</a></p>
    <p>
        <a href="https://github.com/arielcostas/domain-scanner">Source code</a>
    </p>
</footer>

</body>
</html>